

body {
    background-image: url(../img/floral_pattern.jpg);
    text-align: center;
}

#circle {
    position: relative;
    border-radius: 50%;
    width: 30%;
    height: auto;
    padding-top: 30%;
    background: #a5b030;
    margin: auto;
    transform: translateY(50%);
    text-align: center;
}

@font-face {
    font-family: paperdaisy;
    src: url(../font/paperdaisy-demo.ttf);
}

a:hover{
    color: #7a5a8c;
}

a{
    color: #461c39;
    text-decoration: none;
    font-family: paperdaisy;
}
#gardenLink{
    margin-top: -60%;
    font-size: 5vw;
}
