/*Style file for index.html, mostly involves positioning of toolbar and menu buttons */


/* this is from here http://stackoverflow.com/questions/28896260/paper-js-wont-resize-the-canvas-correctly, to make the canvas full-screen */

html,
body {
    margin: 0;
    overflow: hidden;
    height: 100%;
    /*green color scheme*/
    /*background: repeating-linear-gradient(
    180deg,#C9FFDD,
    #C9FFDD 12.5%,
    #E2FFEC 12.5%,
    #E2FFEC 25%);*/
    /*background-color: #C9FFDD;*/
}

.container-fluid{
    height: 100%;
}

#invisibleRow{
    height: 0; /*this row is just for the overlay */
    width: 20%;
    position: absolute;
    margin-left: 40%; 
}

#menuAndCanvasRow{
    height: 92%;
}

#bottomToolbarRow{
    height: 8%;
    background-color: #aaeec5;
}

/* Scale canvas with resize attribute to full size */
canvas[resize] {
    width: 90%;
    height: 100%;
    float: right;
    background: repeating-linear-gradient(
    180deg,#C9FFDD,
    #C9FFDD 12.5%,
    #E2FFEC 12.5%,
    #E2FFEC 25%);
}

#menu{
    width: 10%;
    height: 100%;
    float: left;
    background-color: #81E5A7; 
}

#menu div{
    height:40%;
    width: 90%;
    margin: auto;
}

/*make menu images centered and the width of their parent div */
#menu div img{
    height: 95%;
    width: 95%;
    margin: auto;
}


/*alignment helper to get images to center vertically - from here http://jsfiddle.net/kizu/4RPFa/4570/ */
.align-helper{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

/*left and right toolbar buttons are separated because there are different #s of buttons on each side */
.toolbarButton.left{
    height: 100%;
    width: 35%;
}

.toolbarButton.right{
    height: 100%;
    width: 35%;
}
.toolbarButton img{
    height: 80%;
    width: 80%;
    vertical-align: middle;
    margin: auto;  
}

.btn-group {
    display: inline-block;
    height: 100%;
    width: 100%;
}

.btn-group.right{
    margin-left: 20%; /*make the right-hand button group flush with the edge of the page */
}
.btn{
    background-color: #aaeec5;
    border-radius: 0;
    border: none;
    padding: 0;
}

.btn:hover, .btn:focus, .btn:active, .btn:active:focus{
    background-color: #55dd8b; /*change default bootstrap color for button highlight to match color scheme */
    box-shadow: none;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .btn-default:active.focus{
    background-color: #55dd8b
}


