/* this is from here http://stackoverflow.com/questions/28896260/paper-js-wont-resize-the-canvas-correctly, to make the canvas full-screen */

html,
body {
    margin: 0;
    overflow: hidden;
    height: 100%;
    /*green color scheme*/
    background-color: #C9FFDD;
}

/* Scale canvas with resize attribute to full size */
canvas[resize] {
    width: 90%;
    height: 92%;
    float: right;
}

#menu{
    width: 10%;
    height: 100%;
    float: left;
    background-color: #81E5A7; 
}

/*make menu images centered and the width of their parent div */
#menu div img{
    height: 95%;
    width: 95%;
    margin: auto;
}

#toolbar{
    height: 8%;
    width: 90%;
    float: right; /*i don't really understand css positioning but this seems to work - it's a little weird on resize though (so are the canvas and menu), that's something to work on */
    background-color: #aaeec5;
}

#toolbar .toolbarButton{
    /*really I want the button to be a square no matter the screen size, but I'm not sure how to do that right now */
    height: 100%;
    width: 8%;
    float: left;
}

/*alignment helper to get images to center vertically - from here http://jsfiddle.net/kizu/4RPFa/4570/ */
.align-helper{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#toolbar img{
    height: 100%;
    width: 100%;
    vertical-align: middle;
    margin: auto;  
}

