/* this is from here http://stackoverflow.com/questions/28896260/paper-js-wont-resize-the-canvas-correctly, to make the canvas full-screen */

html,
body {
    margin: 0;
    overflow: hidden;
    height: 100%;
    /*green color scheme*/
    /*background: repeating-linear-gradient(
    180deg,#C9FFDD,
    #C9FFDD 12.5%,
    #E2FFEC 12.5%,
    #E2FFEC 25%);*/
    /*background-color: #C9FFDD;*/
}

.container-fluid{
    height: 100%;
}

#menuAndCanvasRow{
    height: 92%;
}

#bottomToolbarRow{
    height: 8%;
    background-color: #aaeec5;
}
/* Scale canvas with resize attribute to full size */
canvas[resize] {
    width: 90%;
    height: 100%;
    float: right;
    background: repeating-linear-gradient(
    180deg,#C9FFDD,
    #C9FFDD 12.5%,
    #E2FFEC 12.5%,
    #E2FFEC 25%);
}

#menu{
    width: 10%;
    height: 100%;
    float: left;
    background-color: #81E5A7; 
}

/*make menu images centered and the width of their parent div */
#menu div img{
    height: 95%;
    width: 95%;
    margin: auto;
}


/*alignment helper to get images to center vertically - from here http://jsfiddle.net/kizu/4RPFa/4570/ */
.align-helper{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.toolbarButton.left{
    height: 100%;
    width: 40%;
}

.toolbarButton.right{
    height: 100%;
    width: 40%;
}
.toolbarButton img{
    height: 100%;
    width: 100%;
    vertical-align: middle;
    margin: auto;  
}

.btn-group {
    display: inline-block;
    height: 100%;
    width: 100%;
}


.btn-group.right{
    margin-left: 20%;
}
.btn{
    background-color: #aaeec5;
    border-radius: 0;
    border: none;
}



